{% extends "::layout.html.twig" %}

{% block fos_user_content %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <h2 class="form-signin-heading" style="text-align: center">Muzyka.kg</h2>

        {% trans_default_domain 'FOSUserBundle' %}

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <label for="username" class="sr-only" >{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username"  class="form-control"  value="{{ last_username }}" required="required" />

        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
        <input type="password" class="form-control"  id="password" name="_password" required="required" />

        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'security.login.submit'|trans }}</button>

    </form>


{% endblock fos_user_content %}
